<button (click)="showSuccess()">Show Success Toaster</button>
<button (click)="showError()">Show Error Toaster</button>
<div class="container">
    <div class="row mt-5">
        <div class="col-md-4">
            <app-buttons></app-buttons>
        </div>
        <div class="col-md-4">
            <app-link></app-link>
        </div>
        <div class="col-md-4">
            <app-range-field></app-range-field>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <app-textfield></app-textfield>
        </div>
    </div>
</div>


<app-toaster></app-toaster>